In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import math
import re

In [2]:
import json
from scrapfly import ScrapeApiResponse, ScrapeConfig, ScrapflyClient

In [3]:
client = ScrapflyClient(key="scp-live-250eae03bd25400bab7372436d0431da")

In [4]:
def find_companies(query: str):
    """find company Glassdoor ID and name by query. e.g. "ebay" will return "eBay" with ID 7853"""
    result = client.scrape(
        ScrapeConfig(
            url=f"https://www.glassdoor.com/searchsuggest/typeahead?numSuggestions=8&source=GD_V2&version=NEW&rf=full&fallback=token&input={query}",
            country="US",
            asp=True,
            cookies={"tldp":"1"},  # sets location to US
        )
    )
    try:
        data = json.loads(result.content)
        return data[0]["suggestion"], data[0]["employerId"]
    except ValueError:
        return -1

In [9]:
firm_list = pd.read_excel("firms_list.xlsx", usecols=['EXEC_FULLNAME', 'CONAME'])

In [10]:
firm_list.head()

                         EXEC_FULLNAME                       CONAME
0             John McClain Holmes, III                     AAR CORP
1  William Douglas Parker, BEC, M.B.A.  AMERICAN AIRLINES GROUP INC
2                  Robert D. Isom, Jr.  AMERICAN AIRLINES GROUP INC
3                Donald E. Brandt, CPA   PINNACLE WEST CAPITAL CORP
4                   Jeffrey B. Guldner   PINNACLE WEST CAPITAL CORP

In [13]:
firm_list['glassdor_id'] = firm_list['CONAME'].apply(find_companies)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [14]:
firm_list

                            EXEC_FULLNAME                        CONAME
0                John McClain Holmes, III                      AAR CORP
1     William Douglas Parker, BEC, M.B.A.   AMERICAN AIRLINES GROUP INC
2                     Robert D. Isom, Jr.   AMERICAN AIRLINES GROUP INC
3                   Donald E. Brandt, CPA    PINNACLE WEST CAPITAL CORP
4                      Jeffrey B. Guldner    PINNACLE WEST CAPITAL CORP
...                                   ...                           ...
2137                Matthew Craig Kapusta                    UNIQURE NV
2138             Paul Anthony Novelly, II               FUTUREFUEL CORP
2139                     Bhavesh V. Patel  LYONDELLBASELL INDUSTRIES NV
2140                 Peter Z. E. Vanacker  LYONDELLBASELL INDUSTRIES NV
2141                    David D. Petratis                  ALLEGION PLC

[2142 rows x 2 columns]